body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #2D4B8C;
    color: #FFC726; */
}

.container {
    
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: center;
  }
  
.link-container p {
    display: inline-block;
    margin-right: 10px; 
    margin-left: 10px;
  }

.center {
    text-align: center;
}

li {
    list-style-position: inside;
}

/* .form-container {
    display: flex;
    justify-content: center;
  } */
.form-container div {
    display: inline-block;
    margin: 20px 10px;
}

.details-container {
    display: flex;
    justify-content: center;
  }
.details-container h3 {
    display: inline-block;
    margin: 20px 10px;
}

.btn {
    background-color: #F2F8F2;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
  }


ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Style the navigation bar */
  nav ul {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Vertically center items */
    padding: 10px 0; /* Add some space around the navigation */
  }
  
  nav li {
    margin-right: 20px; /* Add spacing between navigation items */
  }
  
  nav li:last-child {
    margin-right: 0; /* No margin on the last navigation item */
  }
  
  /* Style the logout button */
  .logout-btn {
    background-color: #f00; /* Red background color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

  }
  
  .logout-btn:hover {
    background-color: #c00; /* Darker red on hover */
  }