@{
    Layout = "_Layout";
}
<div class="container">
    <h1>Pierre's Bakery</h1>
</div>
<div class="container">
    <p>@Html.ActionLink("See all flavors","Index","Flavors")</p>
    <p>@Html.ActionLink("See all treats","Index","Treats")</p>
</div>
