@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Pierre's Bakery</h1>
</div>
@* <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p> *@