@{
    Layout = "_Layout";
}
<div class="container">
    <h1>Pierre's Bakery</h1>
</div>
<div class="link-container">
    <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
</div>
