@{
    Layout = "_Layout";
}
@using SweetAndSavory.Models
@model SweetAndSavory.Models.Flavor

<div class="container">
  <h1>Add a New Flavor</h1>
</div>
<hr />
@using (Html.BeginForm())
{
    <div class="form-container">
        @Html.LabelFor(model => model.FlavorName)
        @Html.TextBoxFor(model => model.FlavorName)
    </div>
    <div class="center">
        <input type="submit" value="Add new flavor" />
    </div>
}